version: "3"
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
 
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  api:
    build:
      dockerfile: Dockerfile
      context: ./
    ports:
    - 8000:8000
    depends_on:
      - db
    volumes:
      - .:/app
    networks:
      - app-network
 
networks:
  app-network:
    driver: bridge

volumes:
  pgdata: